<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:ftdb="http://typo3.org/ns/Lavitto/FormToDatabase/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<div class="t3js-modal modal fade modal-severity-notice modal-style-default modal-size-medium"
	 id="resultDetail{formResult.uid}" tabindex="-1" role="dialog" aria-hidden="true">
	<div id="printSection" class="modal-dialog" role="document">
		<div class="t3js-modal-content modal-content">
			<div class="modal-header">
				<button type="button" class="t3js-modal-close close" data-dismiss="modal" aria-label="Close">
					<core:icon identifier="actions-close"/>
				</button>
				<h4 class="t3js-modal-title modal-title">
					{formResult.crdate -> f:format.date(format: '{dateFormat} {timeFormat}')}
				</h4>
			</div>
			<div class="t3js-modal-body modal-body">
				<div class="hide-print pull-right form-group">
					<a href="#"
					   class="btn btn-default hide-print"
					   title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:print')}"
					   onclick="window.print();">
						<core:icon identifier="actions-print"/>
						{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:print')}
					</a>
				</div>
				<table class="table table-striped table-hover">
					<f:for each="{formRenderables}" as="renderable">
						<tr>
							<th>
								{renderable.label}
							</th>
							<td>
								<f:format.raw>
									<ftdb:formValue value="{formResult.resultAsArray.{renderable.identifier}}"
													element="{renderable}" crop="false"/>
								</f:format.raw>
							</td>
						</tr>
					</f:for>
				</table>
			</div>
		</div>
	</div>
</div>

</html>
